$ffi->attach( [% IF binding.perl_name %][[% binding.name %] => '[% binding.perl_name %]'][% ELSE %][% binding.name %][% END %] => [[% FOREACH arg IN binding.arg_types %]'[% arg %]'[% UNLESS loop.last %], [% END %][% END %]] => '[% binding.ret_type %]' );
